<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  <a href="http://www.linkedin.com/pub/geng-fu/63/30/a20">Geng Fu</a>
  is a graduate student in 
  <a href="http://www.cmu.edu/index.shtml">Carnegie Mellon University</a>.<br>This is his individual deliverable of
  <a href="http://www.cmu.edu/silicon-valley/academics/courses/96821.html">Introduction of Software Engineering</a>.
</p>
