<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact Geng Fu
  <a href="mailto:geng.fu@sv.cmu.edu?
  subject=speakUp request">via email</a>.
</p>
<p>
	View Geng Fu
	<a href="http://www.linkedin.com/pub/geng-fu/63/30/a20">
		Profile
	</a>
</p>